.product_item {
  max-width: 350px;
  height: 400px;
  padding: 24px;
  background: black;
  border: 1px solid white;
  overflow: hidden;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    height: 97px;
  }

  &__image {
    width: 100%;
    border: 1px solid white;
  }

  &__label {
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 16px;
  }
}
