.home {
  width: 100%;

  &_sticker {
    max-width: 1346px;
    width: 70vw;
    height: 506px;
    object-fit: cover;
    display: block;
    margin: auto;
  }

  &_btn {
    display: block;
    text-align: center;
    width: 300px;
    padding: 24px;
    background: black;
    margin: 60px auto;
  }
}
